/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}
div{
    border: 2px solid red;
    padding: 10px 5px;
    margin: 10px;
}